<%- include('./partials/header') %>

<% if (!user) { %>
	<p class="content">Login for full access to MyTrails.</p>
<% } else { %>
	<p class="content">Welcome, <%= user.name %> <%= user.email %></p>
<% } %>

<h2 class="content">Find a park using the map</h2>
<!-- Add the (empty) map div and the script -->

<div class="content" id='map'></div>


<script>
	mapboxgl.accessToken = '<%= mapkey %>';
	const map = new mapboxgl.Map({
		container: 'map', 
		style: 'mapbox://styles/mapbox/outdoors-v12', 
		center: [-122.3 , 37.75], // starting position [lng, lat]
		zoom: 8 
	});

		// https://docs.mapbox.com/help/tutorials/building-a-store-locator/

		// https://docs.mapbox.com/mapbox-gl-js/example/set-popup/
	<% parks.forEach(function(p) { %>
		const P<%= p._id %> = new mapboxgl.Popup({ offset: 25 }).setHTML('<a href="/parks/<%= p._id%>"><%= p.name %></a>');
		const E<%= p._id %> = document.createElement('div');
		E<%= p._id %>.id = 'marker';

		new mapboxgl.Marker(E<%=p._id%>)
			.setLngLat([<%= p.location.coordinates %>])
			.setPopup(P<%= p._id %>)
			.addTo(map);

	<% }); %>
	
	// Add map controls
	map.addControl(new mapboxgl.NavigationControl());


</script>


<%- include('./partials/footer') %>
