<%- include('../partials/header') %>

<% if (userReviews) { %>
    <table>
        <thead>
            <tr>
                <th>Trail</th>
                <th>Date</th>
                <th>Rating</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            <% userReviews.forEach(function(r) { %>
                <tr>
                    <td><%= r.trailName %></td>
                    <td><%= r.updatedAt %></td>
                    <td><%= r.rating %></td>
                    <td><%= r.reviewText %></td>
                    <td>
                        <a href="/reviews/<%= r._id %>/edit">Edit</a>
                    </td>
                    <td>
                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h5>No reviews yet</h5>
<% } %>

<%- include('../partials/footer') %>