<%- include('../partials/header') %>

<h2><%= title %></h2>

<a href="/trails/new">Add a New Trail</a>

<table>
    <thead>
        <tr>
            <th>Trail</th>
            <th>Dist (mi)</th>
            <th>Average<br>Rating</th>
        </tr>
    </thead>
    <tbody>
        <% trails.forEach(function(t) { %>
            <tr>
                <td><a href="/trails/<%= t._id %>"><%= t.name %></a></td>
                <td><%= t.distance %></td>
                <td>< [Placeholder] ></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>