<%- include('./partials/header') %>

<h1><%= title %></h1>
<table>
    <thead>
        <tr>
            <th>Trail</th>
            <th>Length</th>
            <th>Average<br>Rating</th>
        </tr>
    </thead>
    <tbody>
        <% trails.forEach(function(t) { %>
            <tr>
                <td><a href="/trails/<%= t.name %>"><%= t.name %></a></td>
                <td><%= t.distance %></td>
                <td>[Placeholder Rating]</td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('./partials/footer') %>