<%- include('../partials/header') %>

<h2 class="content"><%= trail.name %></h2>

<section class="content" id="show-trail">
    <div>Distance: <%= trail.distance %> miles</div>
    <div>Address:</div>
    <div><%= trail.streetAddress%></div>
    <div><%= trail.city%>, <%= trail.state%> <%= trail.zip%></div>
</section>
<% if (user) { %>
    <h2 class="content">Add Review</h2>
    <form id="add-trail-review" method="POST" action="/reviews" >
        <input type="hidden" name="trail" value="<%= trail._id %>">
        <input type="hidden" name="trailName" value="<%= trail.name %>">
        <label>Review: </label>
        <textarea name="reviewText"></textarea>
        <label>Rating: </label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        <input type="submit" value="Submit Review">
    </form>
<% } %>

<h3 class="content" >Trail Reviews</h3>
<% if (reviews.length) { %>
    <table class="content">
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <% reviews.forEach(function (r) { %>
                <tr>
                    <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td><%= r.reviewText %></td>
                    <td><%= r.rating %></td>
                </tr>
            <% }); %>

        </tbody>
    </table>
<% } else { %>
    <h5 class="content">No reviews yet</h5>
<% } %>





<%- include('../partials/footer') %>